body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #21262d;
}

header {
    background-color: #618ea8;
    color: antiquewhite;
    display: flex;
}

#headtxt {
    margin-left: 15px;
}

.playlist-card {
    width: 17vw;
    margin: 50px;
    background-color: #618ea8;
    color: antiquewhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #618ea8;
    cursor: pointer;
}

#bottom-sections, #playlist-cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.bottom-section {
    width: 17vw;
    margin: 50px;
    background-color: #526d7d;
    color: antiquewhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #526d7d;
}

.playlist-card:hover {
    background-color: #7694a6;
    border: 3px solid #7694a6;
}

#playlist-img {
    width: 17vw;
    padding: 0;
    display: flex;
}

#playlisy-title,
#creator-name {
    padding-left: 10px;
}

.modal-overlay {
    display: none;
    background-color: whitesmoke;
    border-radius: 20px;
    position: fixed;
    display: flex;
    width: 60%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    backdrop-filter: brightness(10%);
}

.modal-content {
    padding: 10px;
    overflow: hidden;
}

#playlist-info {
    margin: auto;
}

#modal-album-img {
    width: 20%;
    margin: 2%;
    float: left;
}

#modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #618ea8;
    color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
}

ul {

    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    width: 50vw;
}

li {
    width: 100%;
    display: block;
    align-items: center;
}

.song-section {
    display: flex;
    height: 100%;
    padding: 20px;
    align-items: center;
}

.song {
    padding: 5px;
    background-color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40vw;
    margin-right: 35%;
    font-size: 8pt;
    align-items: center;

}

#songtitle {
    font-size: 10pt;
    display: block;
    margin: 0;
}


#song-duration {
    text-align: right;
    float: left;
}

#song-img {
    width: 6vw;
    height: 8vh;
    float: left;
    margin-right: 3%;
}

#song-album {
    margin-left: 14%
}


#song-artist {
    float: left;
}

#duration { 
    text-align: right;
}

#likebtn {
    display: inline-block;
    width: 10%;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.1s;
}

#likebtn:hover{
    transform: scale(1.5);
}

#likebtn:active {
    transform: scale(1.5);
}

#count {
    display: inline;
    text-align: center;
}

li:nth-child(odd) {
    background-color: white;
}


#shuffle-btn { 
    background-color: #618ea8;
    color: antiquewhite;
    border-radius: 5px;
}


footer {
    background-color: #618ea8;
    bottom: 0;
    width: 100%;
    height: 5vh;
}

#featuredbtn{
    display: block;
    background-color: antiquewhite;
    position: relative;
    height: 5vh;
    width: 8vw;
    border: none;
    cursor: pointer;
    font-size: 12pt;
}

#featuredbtn:hover{
    color: #618ea8;
}
