body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #21262d;
}

header {
    background-color: #618ea8;
    color: antiquewhite;
    display: flex;
}

#headtxt {
    margin-left: 15px;
}

.playlist-card {
    width: 17vw;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 0;
    background-color: #618ea8;
    color: antiquewhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #618ea8;
    cursor: pointer;
}

#bottom-sections,
#playlist-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#playlist-cards {
    grid-template-columns: repeat(4, minmax(17vw, 1fr));
    grid-gap: 20px;
}

.playlist-card-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    margin-bottom: 0;
}

.bottom-section {
    width: 17vw;
    margin: 0 50px 50px 50px;
    background-color: #526d7d;
    color: antiquewhite;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #526d7d;
    height: 8vh;
}

.playlist-card:hover {
    background-color: #7694a6;
    border: 3px solid #7694a6;
}

#playlist-img {
    width: 17vw;
    padding: 0;
    display: flex;
}

#playlisy-title,
#creator-name {
    padding-left: 10px;
}

.modal-overlay {
    background-color: whitesmoke;
    border-radius: 20px;
    position: fixed;
    display: flex;
    width: 60%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.modal-content {
    padding: 10px;
    overflow: hidden;
}

#playlist-info {
    margin: auto;
}

#modal-album-img {
    width: 20%;
    margin: 2%;
    float: left;
}

#modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #618ea8;
    color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    max-height: 47vh;
    overflow-y: auto;
    margin-top: 8%;
}

li {
    width: 100%;
    align-items: center;
    padding: 10px 0;
    height: auto;
}



.song-section {
    padding: 20px;
    justify-content: left;
}

.song {
    background-color: aliceblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 40vw;
    font-size: 8pt;
    padding: 5px;
    margin-right: 35%;
}

#song-img {
    width: 6vw;
    height: 8vh;
    margin-right: 3%;
    float: left;
    flex-shrink: 0;
}


#songtitle {
    font-size: 10pt;
    display: block;
    margin: 0;

}

#song-album,
#song-artist {
    font-size: 8pt;
    margin: 0;
}

#song-album {
    float: left;
}

#duration {
    text-align: right;
    width: 100%;
}

#likebtn {
    display: inline-block;
    width: 10%;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.1s;
}

#count {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    vertical-align: top;
}

#likebtn:hover {
    transform: scale(1.5);
}

#likebtn:active {
    transform: scale(1.5);
}

#deletebtn {
    display: inline-block;
    width: 10%;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.1s;
    justify-content: right;
    margin-left: 55%;
}

#deletebtn:hover {
    transform: scale(1.5);
}

li:nth-child(odd) {
    background-color: white;
}

#shuffle-btn {
    background-color: #618ea8;
    color: antiquewhite;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    align-self: flex-start;
}

footer {
    background-color: #618ea8;
    bottom: 0;
    width: 100%;
    height: 5vh;
    margin: 0;
    position: fixed;
}

#featuredbtn {
    background-color: antiquewhite;
    position: relative;
    height: 5vh;
    width: 8vw;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    margin-right: 20px;
    display: inline;
    float: left;
}

#featuredbtn:hover, #addbtn:hover {
    color: #618ea8;
}

#addbtn {
    position: relative;
    background-color: antiquewhite;
    height: 5vh;
    width: 11vw;
    border: none;
    cursor: pointer;
    font-size: 12pt;
    margin: 0;
    display: inline;
    text-align: center;

}


#addForm { 
    background-color: antiquewhite;
    border-radius: 20px;
    position: fixed;
    width: 23vw;
    height: 30vh;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

#addclosebtn {
    background-color: #618ea8;
    border-radius: 5px;
    cursor: pointer;;
    color: aliceblue;
    position: absolute;
    padding: 5px 10px;
    top: 10px;
    right: 10px;
}

#image-form {
    margin-top: 4%;
    margin-left: 4%;
}

#name-form, #creator-form {
    margin-top: 2%;
    margin-left: 4%;
}

#playlistsubmitbtn {
    background-color: #618ea8;
    border-radius: 5px;
    cursor: pointer;;
    color: aliceblue;
    position: absolute;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 12%;
}


#addsongcontainer {
    width: 15vw;
    margin-left: 40%;
}